



<label class="form-check-label" for="{{name}}">
    <input class="form-check-input center-align with-gap" type="radio" value="{{name}}" name="transaction-account" id="{{name}}" checked="true" data-id="{{id}}">
    <span>{{uppercase name}}</span>
</label>