{{!-- This partial will render a transaction object to a bootstrap card object. The data available for this template is
{{transaction}} but check the parent template uses this alias.
For example, the profile template may have a call in it like this:
{{#each transactionObjs as |transaction|}}
{{> transaction-card}}
{{#each}}
Then the transaction fields can be referenced as {{type}}, {{amount}} etc
There is no client side js for this partial --}}

{{!-- {{#each transactions as |transaction|}}
<h1>{{transaction.name}}</h1>
<h2>{{transaction.date}}</h2>
<h3>{{transaction.amount}}</h3>
{{/each}} --}}

<tr class="z-depth-3 {{renderTypeToMaterializeColor type}}">
    <td>
        <span class="black-text">{{uppercase name}}</span>
    </td>
    <td>
        <a href="/profile/account/{{account.id}}" class="btn {{account.materialize_color}} {{account.materialize_text_color}}-text center-align">{{truncate account.name '8'}}</a>
    </td>
    <td>
        <span class="black-text">{{format_date due_date}}</span>
    </td>
    <td>
        <span class="black-text">{{uppercase frequency}}</span>
    </td>
    <td>
        <span class="black-text">{{displayAmountWithTypeSign amount type}}</span>
    </td>
    <td>
        <span class="black-text">{{daysLeft due_date}}</span>
    </td>
    <td>
        <a href="/transaction/update/{{id}}" class="btn"><i class="material-icons">edit</i></a>
    </td>
    <td>
        <a href="/transaction/delete/{{id}}" class="btn red lighten-3"><i class="material-icons">delete</i></a>
    </td>
</tr>
