{{!-- This template is used to display a confirm delete form for a transaction. The data objects available are {{transaction}} and the {{user}} to stylize the template with dynamic data --}}


CONFIRM DELETE OF TRANSACTION - TRANSACTION OBJ {{transaction.name}}

<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">Are you Sure? This could be an important detail</a>
    </div>
  </nav>
</header>
<main class="valign-wrapper">
  <div class="container center-align">
    <div class="col-md-6">
        <h2>Delete Transaction {{transaction.name}}</h2>

        <a id="delete" class="btn btn-primary red" data-transaction_id="{{transaction.id}}">Delete</a>

        <a href="#" onclick="window.history.back()" class="btn btn-primary">Back Away Slowly</a>
        {{!-- <a href="/comment/{{id}}" class="btn btn-primary">Back Away Slowly</a> --}}
    </div>
  </div>

  <script src="/js/delete-comment.js"></script>
</main>