{{!-- This template is used to display a confirm delete form for a transaction. The data objects available are
{{transaction}} and the {{user}} to stylize the template with dynamic data --}}


<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Are you Sure?</a>
    </div>
  </nav>
</header>
<main class="valign-wrapper">
  <div class="container center-align">
    <div class="col-md-6">
        <h2>DELETE TRANSACTION</h2>
        <h4>{{uppercase transaction.name}} : {{uppercase transaction.frequency}}</h4>
        <a id="delete" class="btn btn-primary red" data-transaction_id="{{transaction.id}}">Delete</a>
        <a href="#" onclick="window.history.back()" class="btn btn-primary">Back Away Slowly</a>
    </div>
  </div>

</main>


<script src="/js/delete-transaction.js"></script>