{{!-- This template is for showing the user an empty form that will build a new transaction, the user object is not
available
as we
don't need to display any user data for this form. This template will need to import a script that gathers the form
fields and then
submits them in a request to "/transaction/create" as a POST request.


CREATE A TRANSACTION FORM - USER OBJ AVAILABLE {{user.email}} {{user.balance}} --}}
<header>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo center">NEW TRANSACTION</a>
        </div>
    </nav>
</header>


<main class="valign-wrapper">
    <div class="row">
        <form class="form transaction-form center-align" id="create-transaction-form">

            <div class="row">
                <div class="col s6">
                    <label for="transaction-name" class="col-form-label form-font">Name</label>
                    <input class="form-input form-control center-align" type="text" id="transaction-name">
                </div>
                <div class="col s6">
                    <label for="transaction-amount" class="col-form-label form-font">Amount</label>
                    <input class="form-input form-control center-align" type="text" id="transaction-amount">
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <label for="transaction-duedate" class="col-form-label form-font">Due Date</label>
                    <input class="form-input form-control center-align" type="date" id="transaction-duedate">
                </div>

                <div class="col s6">
                    <label for="transaction-enddate" class="col-form-label form-font">End Date</label>
                    <input class="form-input form-control center-align" type="date" id="transaction-enddate">
                </div>
            </div>

            <div class="row">
                <p class="form-font padding-top">Type:</p>
                <label class="form-check-label center-align" for="income">
                    <input class="form-check-input center-align with-gap" type="radio" value="income"
                        name="transaction-type" id="income" checked="true">
                    <span>INCOME</span></label>

                <label class="form-check-label" for="expense">
                    <input class="form-check-input center-align with-gap" type="radio" value="expense"
                        name="transaction-type" id="expense">
                    <span>EXPENSE</span></label>
            </div>

            <div class="divider"></div>

            <p class="form-font padding-top">ACCOUNTS:</p>

            {{#each accounts as |account|}}
                {{>account-form-field}}
            {{/each}}

            <div class="divider"></div>

            <p class="form-font padding-top">HOW OFTEN?</p>

            {{#each frequencies as |frequency|}}
                <label class="form-check-label" for="{{frequency}}">
                    <input class="form-check-input with-gap" type="radio" value="{{frequency}}" name="transaction-frequency" id="{{frequency}}" checked="true">
                    <span>{{uppercase frequency}}</span>
                </label>
            {{/each}}

            <div class="row padding-top">
                <button class="btn btn-small mx-3 w-50 create-transaction-button" type="submit">Create</button>
                <button class="btn btn-small mx-3 w-50" type="cancel" onclick="window.history.back()">Cancel</button>
            </div>
        </form>
    </div>
</main>

<script src="/js/createtransaction.js"></script>
