{{!-- this template will render the visuals of the user transactions. It will use partial templates for the timeline and
the category visuals which appear in a vertical scroll list. It has access to {{timelineObj}}, {{categoryObj}},
{{userObj}} for dressing and rendering data. It also needs redirect buttons back to profile and logout as this page is
only accessible for a logged in user. --}}
<header>
    <nav role="navigation">
      <div class="nav-wrapper teal">
        <img src="/images/seethroughbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it"
                style="width:60px;height:60px;">
        <a id="logo-container" href="#" class="brand-logo">TIMELINE: <span id="timeline-account">{{uppercase currentAccountName}}</span></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/profile">PROFILE</a>
            </li>
            <li>
                <a href="/user/logout">LOGOUT</a>
            </li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav sec_text_color">
            <li>
                <a href="/profile">PROFILE</a>
            </li>
            <li>
                <a href="/user/logout">LOGOUT</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="#" class="center">YOUR ACCOUNTS</a>
            </li>
            <li>
                <a class="btn white grey-text text-darken-3"  href="/graph/timeline/all">All ACCOUNTS</a>
            </li>
            {{#each accounts as |account|}}
                <li>
                    {{>timeline-account-card}}
                </li>
            {{/each}}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</header>

<main>
    <br>
    <div class="wide-container">
        <div class="row center-align hide-on-med-and-down">
            <h5 class="center-align">YOUR ACCOUNTS</h5>
            <a href="/graph/timeline/all" class="btn red lighten-3 white-text center-align">all</a>
            {{#each accounts as |account|}}
                 <a href="/graph/timeline/{{account.name}}" class="btn {{account.materialize_color}} {{account.materialize_text_color}}-text center-align">{{account.name}}</a>
            {{/each}}
        </div>
    </div>
    <div class="widest-container">
        <div class="container chart-container" style="position: relative; height:80vh; width:80vw">
            <canvas id="chartTimeline"></canvas>
        </div>
    </div>
</main>



<script src="/js/graphs.js"></script>