{{!-- This template will render all transactions for a logged in user. Data available is {{userTransactions}} and
{{userObj}} for dressing the dynamic fields. There will be buttons that redirect to many other routes, in no particular
order they are:
- create transaction : /transaction/create - link to new page
- update transaction : /transaction/update/:transaction_id link to new page
- delete transaction : /transaction/delete/:transaction_id not sure
- update balance : /profile/balance link to new page
- graph view : /graphs link to new page
they should be <a href="/transaction/create"></a> tags as they are redirects which automatically use get requests --}}
<header>
    <nav role="navigation">


        <div class="nav-wrapper teal darken-2">
            <img src="/images/seethroughbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it"
                style="width:60px;height:60px;">
            <a id="logo-container" href="/profile" class="brand-logo">PROFILE <span class="hide-on-med-and-down">NET BALANCE:</span> ${{netBalance}}</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/user/logout">LOGOUT</a>
                </li>
            </ul>

            <ul id="nav-mobile" class="sidenav sec_text_color">
                <li>
                    <a href="/user/logout">LOGOUT</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a href="/account/create" class="btn-large waves-effect waves-light"><i class="material-icons left">add</i>New account</a>
                </li>
                <li>
                    <a href="/transaction/{{transaction.id}}" class="btn-large waves-effect waves-light"><i class="material-icons left">add</i>New transaction</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a href="#" class="center">YOUR ACCOUNTS</a>
                </li>
                {{#each accounts as |account|}}
                    <li>
                        {{>profile-account-card}}
                    </li>
                {{/each}}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>


<main>

    <br>
    <div class="wide-container">
        {{#if accounts}}
            <div class="row center-align hide-on-med-and-down">
                <h5 class="center-align">YOUR ACCOUNTS</h5>
                <a href="/profile" class="btn red lighten-3 white-text center-align">all</a>
                {{#each accounts as |account|}}
                        {{>profile-account-card}}
                {{/each}}
                <div class="row center padding-top">
                    <a href="/account/create" class="btn-large waves-effect waves-light"><i
                            class="material-icons left">add</i>New account</a>
                    <a href="/transaction/{{transaction.id}}" class="btn-large waves-effect waves-light"><i
                            class="material-icons left">add</i>New transaction</a>
                </div>
            </div>
            {{#if transactions}}
                <h5 class="center-align">ALL YOUR TRANSACTIONS</h5>
                <table class="stripped highlight centered responsive-table">
                    <thead>
                        <th>NAME</th>
                        <th>ACCOUNT</th>
                        <th>STARTED</th>
                        <th>FREQUENCY</th>
                        <th>AMOUNT</th>
                        <th>DAYS LEFT</th>
                        <th>UPDATE</th>
                        <th>DELETE</th>
                    </thead>
                    <tbody>
                        {{#each transactions as |transaction|}}
                            {{>transaction-table-row}}
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <h4 class="center-align">YOU HAVE NO TRANSACTIONS YET</h4>
            {{/if}}
        {{else}}
            <h4 class="center-align">YOU HAVE NO ACCOUNTS YET</h4>
            <div class="container">
                <div class="row center padding-top">
                    <a href="/account/create" class="btn-large waves-effect waves-light"><i
                            class="material-icons left">add</i>New account</a>
                </div>
            </div>
        {{/if}}
    </div>
    <br>
    <br>
    <br>
</main>

