{{!-- {{user}}
{{account}} --}}


<header>
    <nav>
        <div class="nav-wrapper teal">
            <img src="/images/seethroughbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it"
                style="width:60px;height:60px;">
            <a href="#" class="brand-logo center">UPDATE ACCOUNT</a>
        </div>
    </nav>
</header>
<main class="valign-wrapper">
    <div class="container">
        <div class="col-md-6">
            <form class="form update-account-form center-align">
                <div class="form-group">
                    <label for="account-name" id="account-update" data-id={{user.account}}>ACCOUNT NAME</label>
                    <input class="form-input center-align" type="text" id="account-name" value="{{account.name}}">
                </div>
                <div class="form-group">
                    <label for="account-balance">ACCOUNT BALANCE</label>
                    <input class="form-input center-align" type="text" id="account-balance" value="{{account.balance}}">
                </div>
                <button id="update-btn" type="submit" class="btn">Update</button>
                <button id="cancel-btn" type="cancel" class="btn" onclick="window.history.back()"
                    class="btn btn-light mx-3 w-50">Cancel</button>
            </form>
        </div>
    </div>

    <script src="/js/update-account"></script>
</main>