{{!-- This template is a form for updating all the fields in a transaction, it has access to {{transactionObj}} and {{userObj}} for dressing the form. Client side js will need to handle event listening for submit, form field validation, and then sending a PUT request to "/transaction/update/{{transactionObj.id}}". It will handle the usual responses, code 200 - all good, 400 user did something bad, 500 server broke --}}

UPDATE TRANSACTION FORM + A TRANSACTION OBJECT

<h1>Update Transaction</h1>

<form id="update-transaction-form" class="form">
    <div class="form-group">
        <label for="update-transaction-name">NAME</label>
        <input type="text" class="form-control" value="{{transaction.name}}" id="update-transaction-name" data-id="{{user.id}}" aria-describedby="updateTransactionName" placeholder="{{user.name}}">
        <label for="update-transaction-ammount">AMMOUNT</label>
        <input type="text" class="form-control" value="{{transaction.ammount}}" id="update-transaction-ammount" data-id="{{user.id}}" aria-describedby="updateTransactionAmmount" placeholder="{{user.amount}}">
        <label for="update-transaction-due-date">DUE DATE</label>
        <input type="text" class="form-control" value="{{transaction.due_date}}" id="update-transaction-due-date" data-id="{{user.id}}" aria-describedby="updateTransactionDueDate" placeholder="{{user.due_date}}">
        <label for="update-transaction-frequency">FREQUENCY</label>
        <input type="text" class="form-control" value="{{transaction.frequency}}" id="update-transaction-frequency" data-id="{{user.id}}" aria-describedby="updateTransactionFrequency" placeholder="{{user.frequency}}">
        <label for="update-transaction-type">TYPE</label>
        <input type="text" class="form-control" value="{{transaction.type}}"id="update-transaction-type" data-id="{{user.id}}" aria-describedby="updateTransactionType" placeholder="{{user.type}}">
        <label for="update-transaction-category-name">CATEGORY NAME</label>
        <input type="text" class="form-control" id="update-transaction-category-name" data-id="{{user.id}}" aria-describedby="updateTransactionCategoryName" placeholder="{{user.category_name}}">
    </div>
    <div>
        <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script src="/js/update-transaction.js"></script>