{{!-- This template is a form for updating all the fields in a transaction, it has access to {{transactionObj}} and
{{userObj}} for dressing the form. Client side js will need to handle event listening for submit, form field validation,
and then sending a PUT request to "/transaction/update/{{transactionObj.id}}". It will handle the usual responses, code
200 - all good, 400 user did something bad, 500 server broke --}}

{{!-- UPDATE TRANSACTION FORM + A TRANSACTION OBJECT --}}

<header>
    <nav>
        <div class="nav-wrapper teal">
            <img src="/images/seethroughbudgie.png" alt="Outline of budgie with 100 dollar note superimposed over it"
                style="width:60px;height:60px;">
            <a href="#" class="brand-logo center">UPDATE TRANSACTION {{uppercase transaction.name}}</a>
        </div>
    </nav>
</header>

<main class="valign-wrapper">
    <div class="container">
        <div class="col-md-6">
            <form id="update-transaction-form" class="form update-transaction-form center-align">
                <div class="form-group center-align">
                    <label for="update-transaction-name">Name</label>
                    <input type="text" class="form-input center-align" value="{{transaction.name}}" id="update-transaction-name"
                        data-id="{{transaction.id}}" placeholder="user name">
                </div>
                <div class="form-group">
                    <label for="update-transaction-amount">Amount</label>
                    <input type="text" class="form-input center-align" value="{{transaction.amount}}"
                        id="update-transaction-amount" placeholder="amount">
                </div>
                <div class="form-group">
                    <label for="update-transaction-due-date">Due Date</label>
                    <input type="text" class="form-input center-align" value="{{transaction.due_date}}"
                        id="update-transaction-due-date" placeholder="due date">
                </div>
                <div class="form-group">
                    <label for="update-transaction-frequency">Frequency</label>
                    <input type="text" class="form-input center-align" value="{{transaction.frequency}}"
                        id="update-transaction-frequency" placeholder="frequency">
                </div>
                <div class="form-group">
                    <label for="update-transaction-type">Type</label>
                    <input type="text" class="form-input center-align" value="{{transaction.type}}" id="update-transaction-type"
                        placeholder="type">
                </div>
                <div class="form-group">
                    <label for="update-transaction-category-name">Category Name</label>
                    <input type="text" class="form-input center-align" value="{{transaction.category_name}}"
                        id="update-transaction-category-name" placeholder="category">
                </div>
                <div class="form-group row center-align">
                    <button id="submit-btn" class="btn" type="submit">UPDATE</button>
                    <a href="/profile" class="btn grey">CANCEL</a>
                    <a href="/transaction/delete/{{transaction.id}}" class="btn btn-primary red">DELETE</a>
                </div>

            </form>
        </div>
    </div>

</main>

<script src="/js/update-transaction.js"></script>